*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}
body{
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:color #ffe5ff;
}

.container
{
    display:flex;
    flex-direction:column;
    text-align:center;
    gap:20px;
    max-width:500px;
    margin:20px;
}
#love{
    background-color:green;
    color:rgb(205, 248, 255);
    height:21px;
}